<div>
    <space class="back"></space>
    <space class="front" type="1"></space>
    
    <etoile cible="space" class="space-star" title="<%=data.text.get('grandTout')%>">
    	<span class="text"><%=data.text.get('grandTout')%></span>
    </etoile>
    <etoile cible="quete" class="quete-star" title="<%=data.text.get('quetes')%>">
    	<span class="text"><%=data.text.get('quetes')%></span>
    </etoile>
    <etoile cible="autel" class="autel-star" title="<%=data.text.get('autel')%>">
    	<span class="text"><%=data.text.get('autel')%></span>
    </etoile>
</div>
