/**
* Didactitiel
**/
#didactitiel {
	left : 0; top: 0;
}
.step {
	display: none;
	z-index: 10000;
	position: absolute;
}

.block-ameliorations {
	left: 0; top : 79%;
	width: 100%; height: 21%;
	background-color: #333;
	opacity: 0.7;
}

.fleche {
	width: 100%; height: 20%;
	
	background-repeat: no-repeat;
    background-size: 100% 100%;
	background-image: url("../img/game/interface/fleche.png");
}