
/**
* Liste des Succes
**/
successList > success.success-500click .icon {
	background-image: url("../img/game/ameliorations/dieu/dieu.png");
}
successList > success.success-1000click .icon {
	background-image: url("../img/game/ameliorations/deesse/deesse.png");
}
successList > success.success-5000click .icon {
	background-image: url("../img/game/ameliorations/amour/amour.png");
}
successList > success.success-10000click .icon {
	background-image: url("../img/game/ameliorations/ciel/ciel.png");
}
successList > success.success-50000click .icon {
	background-image: url("../img/game/ameliorations/ocean/ocean.png");
}
successList > success.success-1000000click .icon {
	background-image: url("../img/game/ameliorations/volcan/volcan.png");
}
successList > success.success-50000000click .icon {
	background-image: url("../img/game/ameliorations/gouffre/gouffre.png");
}
successList > success.success-100000000click .icon {
	background-image: url("../img/game/ameliorations/grandTout/grandTout.png");
}
successList > success.success-500000000click .icon {
	background-image: url("../img/game/ameliorations/connaissance/connaissance.png");
}
successList > success.success-maxClick .icon {
	background-image: url("../img/game/ameliorations/evolution/evolution.png");
}