/**
* Kongregate
**/
.username {
	position: absolute;
	top: 0;
	right: 0;
}

/**
* Menu
**/
.bebel {
	z-index : 10000;
	background-color : white;
	background-image: url("../img/menu/bebel.png");
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: 50% 50%;
}

/**
* Menu
**/
.menu-page {
	background-color: #060606;
}
.menu-cadre {
	width: 75%;
	height: 80%;
}

ul.menu {
	display: block;
}
ul.menu > li {
	display: block;
	text-align: center;
	font-size: 4vh;
	font-family: serif;
	
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
ul.menu > li:nth-child(n+2)  {
	margin-top: 2%;
}

ul.menu > li {
	cursor: pointer;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	
	-webkit-transition: background 2s;
	transition: background 2s;
}

ul.menu > li:hover {
	background: #f5f5f5;
	background: linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -moz-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -ms-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -o-linear-gradient(top, #f5f5f5 5%, #555 100%);
}

ul.popup-menu {
	display: block;
}
ul.popup-menu > li {
	display: block;
	text-align: center;
	
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
ul.popup-menu > li {
	cursor: pointer;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	
	-webkit-transition: background 2s;
	transition: background 2s;
}

ul.popup-menu > li:hover {
	background: #f5f5f5;
	background: linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -moz-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -ms-linear-gradient(top, #f5f5f5 5%, #555 100%);
	background: -o-linear-gradient(top, #f5f5f5 5%, #555 100%);
}

.popup .close {
	top: -1.5vh;
    right: -0.5vw;
}

.close {
	width: 30px !important; height: 30px !important;
	position: absolute !important;
	opacity : 1 !important;
	background-color: #413f3f !important;
	border: 1px solid black !important;
	border-radius: 50% !important;
}

a {
	color : #333;
}

.flag-container {
    height: 30vh;
    width: 100%;
}
.flag {
    cursor: pointer;
    display: inline-block;
    width: 45%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.flag.fr {
	background-image: url("../img/menu/flag/fr.jpg");
}
.flag.en {
	background-image: url("../img/menu/flag/en.jpg");
}