
/**
* Game
**/
.game {
	background-color: black;
}
.scene {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.camera {
    width: 100%;
    height: 100%;
}

/**
* les differents plans
**/
plan, planFar, element, fleche, actions, .camera, .popupText, inventaire, lampe, params{
	position: absolute;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
planFar {width: 100%; height: 100%;}
planFar.background {z-index: 0;}
plan.background {z-index: 1;}
plan.stage {z-index: 2;}
plan.frontground {z-index: 1000;}
planFar.frontground {z-index: 1001;}
.frontground {opacity : 0.7;}

/**
* Fleches
**/
fleche {
    display: none;
    z-index: 10;
    width: 50; height: 42;
    opacity: 0.7;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}
fleche:hover {opacity: 1;}
fleche.gauche {
	margin-top: 50vh;
    transform: translateY(-50%);
    left: 0;
    background-image: url("../img/game/flecheH.png");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
fleche.droite {
	margin-top: 50vh;
    transform: translateY(-50%);
    right: 0;
    background-image: url("../img/game/flecheH.png");
}
fleche.bas {
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom : 0;
    background-image: url("../img/game/flecheV.png");
}
fleche.haut {
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	top : 0;
    background-image: url("../img/game/flecheV.png");
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/**
* Actions
**/
.frontground {pointer-events: none;}
element:hover {
	cursor: url("../img/game/cursor/loupe.png"), pointer;
}

fleche:hover, action:hover {
	cursor: pointer;
}

/**
* Utils
**/
.text {
	font-family: serif;
	font-size : 4vh;
	max-width: 100%;
	word-wrap: break-word;
}
.popupText {
	z-index: 2000;
	cursor: pointer;
	width: 100%; height: 100%;
}
.popupText mask {
	z-index: 1900;
}
.popupText content {
	bottom: 0;
    position: absolute;
    z-index: 2000;
	overflow: hidden;
	
	background-color: #060606;
	
	width: 100%; height: auto;
}
.popupText .text {
	color: ghostwhite;
	width: 80%; height: 80%;
	margin-left: 4%; 
	margin-top: 0%;
}

lampe {
	pointer-events: none;
	z-index: 2000;
	width: 30%; height: 33%;
	box-shadow:0 0 0 10000px rgba(0,0,0,1), inset 0 0 0 rgba(0,0,0,1);
	background-image: url("../img/game/lampe.png");
	left: 50%; top: 50%;
}

params {
	z-index: 1800;
	right: 0;
	color : white;
	background-color: black;
	cursor: pointer;
}

params ul {
	display: inline-block;
	-webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

params div {
	display: inline-block;
}
params div:hover {
	color: gray;
}
params div#mute.active {
	text-decoration: line-through;
}