
/**
* God
**/
god {
	position: absolute;
	left: 25%;
	top: 25%;
	
	z-index: 2;
	cursor: pointer;
	
	width: 50%;
	height: 50%;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/**
* Sous forme de poussiere
**/
god.dust[level="1"] {
	background-image: url("../img/game/god/dust/1.png");
}
god.dust[level="2"] {
	background-image: url("../img/game/god/dust/2.png");
}
god.dust[level="3"] {
	background-image: url("../img/game/god/dust/3.png");
}
god.dust[level="4"] {
	background-image: url("../img/game/god/dust/4.png");
}
god.dust[level="5"] {
	background-image: url("../img/game/god/dust/5.png");
}

/**
* Forme d'oeuf
**/
god.egg[level="1"] {
	background-image: url("../img/game/god/egg/1.png");
}
god.egg[level="2"] {
	background-image: url("../img/game/god/egg/2.png");
}
god.egg[level="3"] {
	background-image: url("../img/game/god/egg/3.png");
}

/**
* Forme Bebe
**/
god.baby[level="1"] {
    background-image: url("../img/game/god/baby/1.png");
}