/**
* Dieu
**/
.ameliorations item.dieu span {
	background-image: url("../img/game/ameliorations/dieu/dieu.png");
}
.ameliorations item.dieu.out span {
	animation-name: dieu-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;

	-webkit-animation-name: dieu-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: dieu-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: dieu-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.dieu.in span {
	animation-name: dieu-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: dieu-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: dieu-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: dieu-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes dieu-in {
    0% {background-image: url("../img/game/ameliorations/dieu/dieu.png");}
    25% {background-image: url("../img/game/ameliorations/dieu/1.png");}
    50% {background-image: url("../img/game/ameliorations/dieu/2.png");}
    75% {background-image: url("../img/game/ameliorations/dieu/3.png");}
    100% {background-image: url("../img/game/ameliorations/dieu/4.png");}
}
@keyframes dieu-out {
    0% {background-image: url("../img/game/ameliorations/dieu/4.png");}
    25% {background-image: url("../img/game/ameliorations/dieu/3.png");}
    50% {background-image: url("../img/game/ameliorations/dieu/2.png");}
    75% {background-image: url("../img/game/ameliorations/dieu/1.png");}
    100% {background-image: url("../img/game/ameliorations/dieu/dieu.png");}
}

/**
* Deesse
**/
.ameliorations item.deesse span {
	background-image: url("../img/game/ameliorations/deesse/deesse.png");
}
.ameliorations item.deesse.out span {
	animation-name: deesse-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: deesse-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: deesse-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: deesse-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.deesse.in span {
	animation-name: deesse-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: deesse-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: deesse-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: deesse-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes deesse-in {
    0% {background-image: url("../img/game/ameliorations/deesse/deesse.png");}
    25% {background-image: url("../img/game/ameliorations/deesse/1.png");}
    50% {background-image: url("../img/game/ameliorations/deesse/2.png");}
    75% {background-image: url("../img/game/ameliorations/deesse/3.png");}
    100% {background-image: url("../img/game/ameliorations/deesse/4.png");}
}
@keyframes deesse-out {
    0% {background-image: url("../img/game/ameliorations/deesse/4.png");}
    25% {background-image: url("../img/game/ameliorations/deesse/3.png");}
    50% {background-image: url("../img/game/ameliorations/deesse/2.png");}
    75% {background-image: url("../img/game/ameliorations/deesse/1.png");}
    100% {background-image: url("../img/game/ameliorations/deesse/deesse.png");}
}

/**
* Grand Tout
**/
.ameliorations item.grandTout span {
	background-image: url("../img/game/ameliorations/grandTout/grandTout.png");
}
.ameliorations item.grandTout.out span {
	animation-name: grandTout-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}
.ameliorations item.grandTout.in span {
	animation-name: grandTout-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

@keyframes grandTout-in {
    0% {background-image: url("../img/game/ameliorations/grandTout/grandTout.png");}
    25% {background-image: url("../img/game/ameliorations/grandTout/1.png");}
    50% {background-image: url("../img/game/ameliorations/grandTout/2.png");}
    75% {background-image: url("../img/game/ameliorations/grandTout/3.png");}
    100% {background-image: url("../img/game/ameliorations/grandTout/4.png");}
}
@keyframes grandTout-out {
    0% {background-image: url("../img/game/ameliorations/grandTout/4.png");}
    25% {background-image: url("../img/game/ameliorations/grandTout/3.png");}
    50% {background-image: url("../img/game/ameliorations/grandTout/2.png");}
    75% {background-image: url("../img/game/ameliorations/grandTout/1.png");}
    100% {background-image: url("../img/game/ameliorations/grandTout/grandTout.png");}
}

/**
* Terre
**/
.ameliorations item.terre span {
	background-image: url("../img/game/ameliorations/terre/terre.png");
}
.ameliorations item.terre.out span {
	animation-name: terre-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: terre-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: terre-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: terre-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.terre.in span {
	animation-name: terre-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: terre-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: terre-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: terre-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes terre-in {
    0% {background-image: url("../img/game/ameliorations/terre/terre.png");}
    25% {background-image: url("../img/game/ameliorations/terre/1.png");}
    50% {background-image: url("../img/game/ameliorations/terre/2.png");}
    75% {background-image: url("../img/game/ameliorations/terre/3.png");}
    100% {background-image: url("../img/game/ameliorations/terre/4.png");}
}
@keyframes terre-out {
    0% {background-image: url("../img/game/ameliorations/terre/4.png");}
    25% {background-image: url("../img/game/ameliorations/terre/3.png");}
    50% {background-image: url("../img/game/ameliorations/terre/2.png");}
    75% {background-image: url("../img/game/ameliorations/terre/1.png");}
    100% {background-image: url("../img/game/ameliorations/terre/terre.png");}
}

/**
* Lune
**/
.ameliorations item.lune span {
	background-image: url("../img/game/ameliorations/lune/lune.png");
}
.ameliorations item.lune.out span {
	animation-name: lune-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: lune-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: lune-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: lune-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.lune.in span {
	animation-name: lune-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: lune-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: lune-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: lune-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes lune-in {
    0% {background-image: url("../img/game/ameliorations/lune/lune.png");}
    25% {background-image: url("../img/game/ameliorations/lune/1.png");}
    50% {background-image: url("../img/game/ameliorations/lune/2.png");}
    75% {background-image: url("../img/game/ameliorations/lune/3.png");}
    100% {background-image: url("../img/game/ameliorations/lune/4.png");}
}
@keyframes lune-out {
    0% {background-image: url("../img/game/ameliorations/lune/4.png");}
    25% {background-image: url("../img/game/ameliorations/lune/3.png");}
    50% {background-image: url("../img/game/ameliorations/lune/2.png");}
    75% {background-image: url("../img/game/ameliorations/lune/1.png");}
    100% {background-image: url("../img/game/ameliorations/lune/lune.png");}
}

/**
* Soleil
**/
.ameliorations item.soleil span {
	background-image: url("../img/game/ameliorations/soleil/soleil.png");
}
.ameliorations item.soleil.out span {
	animation-name: soleil-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: soleil-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: soleil-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: soleil-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.soleil.in span {
	animation-name: soleil-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: soleil-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: soleil-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: soleil-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes soleil-in {
    0% {background-image: url("../img/game/ameliorations/soleil/soleil.png");}
    25% {background-image: url("../img/game/ameliorations/soleil/1.png");}
    50% {background-image: url("../img/game/ameliorations/soleil/2.png");}
    75% {background-image: url("../img/game/ameliorations/soleil/3.png");}
    100% {background-image: url("../img/game/ameliorations/soleil/4.png");}
}
@keyframes soleil-out {
    0% {background-image: url("../img/game/ameliorations/soleil/4.png");}
    25% {background-image: url("../img/game/ameliorations/soleil/3.png");}
    50% {background-image: url("../img/game/ameliorations/soleil/2.png");}
    75% {background-image: url("../img/game/ameliorations/soleil/1.png");}
    100% {background-image: url("../img/game/ameliorations/soleil/soleil.png");}
}

/**
* Ciel
**/
.ameliorations item.ciel span {
	background-image: url("../img/game/ameliorations/ciel/ciel.png");
}
.ameliorations item.ciel.out span {
	animation-name: ciel-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: ciel-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: ciel-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: ciel-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.ciel.in span {
	animation-name: ciel-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: ciel-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: ciel-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: ciel-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes ciel-in {
    0% {background-image: url("../img/game/ameliorations/ciel/ciel.png");}
    25% {background-image: url("../img/game/ameliorations/ciel/1.png");}
    50% {background-image: url("../img/game/ameliorations/ciel/2.png");}
    75% {background-image: url("../img/game/ameliorations/ciel/3.png");}
    100% {background-image: url("../img/game/ameliorations/ciel/4.png");}
}
@keyframes ciel-out {
    0% {background-image: url("../img/game/ameliorations/ciel/4.png");}
    25% {background-image: url("../img/game/ameliorations/ciel/3.png");}
    50% {background-image: url("../img/game/ameliorations/ciel/2.png");}
    75% {background-image: url("../img/game/ameliorations/ciel/1.png");}
    100% {background-image: url("../img/game/ameliorations/ciel/ciel.png");}
}

/**
* Foret
**/
.ameliorations item.foret span {
	background-image: url("../img/game/ameliorations/foret/foret.png");
}
.ameliorations item.foret.out span {
	animation-name: foret-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: foret-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: foret-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: foret-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.foret.in span {
	animation-name: foret-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: foret-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: foret-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: foret-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes foret-in {
    0% {background-image: url("../img/game/ameliorations/foret/foret.png");}
    25% {background-image: url("../img/game/ameliorations/foret/1.png");}
    50% {background-image: url("../img/game/ameliorations/foret/2.png");}
    75% {background-image: url("../img/game/ameliorations/foret/3.png");}
    100% {background-image: url("../img/game/ameliorations/foret/4.png");}
}
@keyframes foret-out {
    0% {background-image: url("../img/game/ameliorations/foret/4.png");}
    25% {background-image: url("../img/game/ameliorations/foret/3.png");}
    50% {background-image: url("../img/game/ameliorations/foret/2.png");}
    75% {background-image: url("../img/game/ameliorations/foret/1.png");}
    100% {background-image: url("../img/game/ameliorations/foret/foret.png");}
}

/**
* Volcan
**/
.ameliorations item.volcan span {
	background-image: url("../img/game/ameliorations/volcan/volcan.png");
}
.ameliorations item.volcan.out span {
	animation-name: volcan-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: volcan-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: volcan-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: volcan-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.volcan.in span {
	animation-name: volcan-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: volcan-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: volcan-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: volcan-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes volcan-in {
    0% {background-image: url("../img/game/ameliorations/volcan/volcan.png");}
    25% {background-image: url("../img/game/ameliorations/volcan/1.png");}
    50% {background-image: url("../img/game/ameliorations/volcan/2.png");}
    75% {background-image: url("../img/game/ameliorations/volcan/3.png");}
    100% {background-image: url("../img/game/ameliorations/volcan/4.png");}
}
@keyframes volcan-out {
    0% {background-image: url("../img/game/ameliorations/volcan/4.png");}
    25% {background-image: url("../img/game/ameliorations/volcan/3.png");}
    50% {background-image: url("../img/game/ameliorations/volcan/2.png");}
    75% {background-image: url("../img/game/ameliorations/volcan/1.png");}
    100% {background-image: url("../img/game/ameliorations/volcan/volcan.png");}
}

/**
* Chaos
**/
.ameliorations item.chaos span {
	background-image: url("../img/game/ameliorations/chaos/chaos.png");
}
.ameliorations item.chaos.out span {
	animation-name: chaos-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: chaos-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: chaos-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: chaos-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.chaos.in span {
	animation-name: chaos-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: chaos-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: chaos-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: chaos-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes chaos-in {
    0% {background-image: url("../img/game/ameliorations/chaos/chaos.png");}
    25% {background-image: url("../img/game/ameliorations/chaos/1.png");}
    50% {background-image: url("../img/game/ameliorations/chaos/2.png");}
    75% {background-image: url("../img/game/ameliorations/chaos/3.png");}
    100% {background-image: url("../img/game/ameliorations/chaos/4.png");}
}
@keyframes chaos-out {
    0% {background-image: url("../img/game/ameliorations/chaos/4.png");}
    25% {background-image: url("../img/game/ameliorations/chaos/3.png");}
    50% {background-image: url("../img/game/ameliorations/chaos/2.png");}
    75% {background-image: url("../img/game/ameliorations/chaos/1.png");}
    100% {background-image: url("../img/game/ameliorations/chaos/chaos.png");}
}

/**
* Gouffre
**/
.ameliorations item.gouffre span {
	background-image: url("../img/game/ameliorations/gouffre/gouffre.png");
}
.ameliorations item.gouffre.out span {
	animation-name: gouffre-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: gouffre-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: gouffre-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: gouffre-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.gouffre.in span {
	animation-name: gouffre-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: gouffre-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: gouffre-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: gouffre-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes gouffre-in {
    0% {background-image: url("../img/game/ameliorations/gouffre/gouffre.png");}
    25% {background-image: url("../img/game/ameliorations/gouffre/1.png");}
    50% {background-image: url("../img/game/ameliorations/gouffre/2.png");}
    75% {background-image: url("../img/game/ameliorations/gouffre/3.png");}
    100% {background-image: url("../img/game/ameliorations/gouffre/4.png");}
}
@keyframes gouffre-out {
    0% {background-image: url("../img/game/ameliorations/gouffre/4.png");}
    25% {background-image: url("../img/game/ameliorations/gouffre/3.png");}
    50% {background-image: url("../img/game/ameliorations/gouffre/2.png");}
    75% {background-image: url("../img/game/ameliorations/gouffre/1.png");}
    100% {background-image: url("../img/game/ameliorations/gouffre/gouffre.png");}
}

/**
* Ocean
**/
.ameliorations item.ocean span {
	background-image: url("../img/game/ameliorations/ocean/ocean.png");
}
.ameliorations item.ocean.out span {
	animation-name: ocean-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: ocean-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: ocean-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: ocean-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.ocean.in span {
	animation-name: ocean-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: ocean-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: ocean-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: ocean-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes ocean-in {
    0% {background-image: url("../img/game/ameliorations/ocean/ocean.png");}
    25% {background-image: url("../img/game/ameliorations/ocean/1.png");}
    50% {background-image: url("../img/game/ameliorations/ocean/2.png");}
    75% {background-image: url("../img/game/ameliorations/ocean/3.png");}
    100% {background-image: url("../img/game/ameliorations/ocean/4.png");}
}
@keyframes ocean-out {
    0% {background-image: url("../img/game/ameliorations/ocean/4.png");}
    25% {background-image: url("../img/game/ameliorations/ocean/3.png");}
    50% {background-image: url("../img/game/ameliorations/ocean/2.png");}
    75% {background-image: url("../img/game/ameliorations/ocean/1.png");}
    100% {background-image: url("../img/game/ameliorations/ocean/ocean.png");}
}

/**
* Vide
**/
.ameliorations item.vide span {
	background-image: none;
}
.ameliorations item.vide.out span {
	animation-name: vide-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: vide-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: vide-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: vide-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.vide.in span {
	animation-name: vide-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: vide-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: vide-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: vide-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes vide-in {
    0% {background-image: none;}
    25% {background-image: url("../img/game/ameliorations/vide/1.png");}
    50% {background-image: url("../img/game/ameliorations/vide/2.png");}
    75% {background-image: url("../img/game/ameliorations/vide/3.png");}
    100% {background-image: url("../img/game/ameliorations/vide/4.png");}
}
@keyframes vide-out {
    0% {background-image: none;}
    25% {background-image: url("../img/game/ameliorations/vide/3.png");}
    50% {background-image: url("../img/game/ameliorations/vide/2.png");}
    75% {background-image: url("../img/game/ameliorations/vide/1.png");}
    100% {background-image: none;}
}

/**
* Abysse
**/
.ameliorations item.abysse span {
	background-image: url("../img/game/ameliorations/abysse/abysse.png");
}
.ameliorations item.abysse.out span {
	animation-name: abysse-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: abysse-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: abysse-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: abysse-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.abysse.in span {
	animation-name: abysse-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: abysse-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: abysse-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: abysse-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes abysse-in {
    0% {background-image: url("../img/game/ameliorations/abysse/abysse.png");}
    25% {background-image: url("../img/game/ameliorations/abysse/1.png");}
    50% {background-image: url("../img/game/ameliorations/abysse/2.png");}
    75% {background-image: url("../img/game/ameliorations/abysse/3.png");}
    100% {background-image: url("../img/game/ameliorations/abysse/4.png");}
}
@keyframes abysse-out {
    0% {background-image: url("../img/game/ameliorations/abysse/4.png");}
    25% {background-image: url("../img/game/ameliorations/abysse/3.png");}
    50% {background-image: url("../img/game/ameliorations/abysse/2.png");}
    75% {background-image: url("../img/game/ameliorations/abysse/1.png");}
    100% {background-image: url("../img/game/ameliorations/abysse/abysse.png");}
}

/**
* Amour
**/
.ameliorations item.amour span {
	background-image: url("../img/game/ameliorations/amour/amour.png");
}
.ameliorations item.amour.out span {
	animation-name: amour-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: amour-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: amour-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: amour-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.amour.in span {
	animation-name: amour-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: amour-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: amour-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: amour-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes amour-in {
    0% {background-image: url("../img/game/ameliorations/amour/amour.png");}
    25% {background-image: url("../img/game/ameliorations/amour/1.png");}
    50% {background-image: url("../img/game/ameliorations/amour/2.png");}
    75% {background-image: url("../img/game/ameliorations/amour/3.png");}
    100% {background-image: url("../img/game/ameliorations/amour/4.png");}
}
@keyframes amour-out {
    0% {background-image: url("../img/game/ameliorations/amour/4.png");}
    25% {background-image: url("../img/game/ameliorations/amour/3.png");}
    50% {background-image: url("../img/game/ameliorations/amour/2.png");}
    75% {background-image: url("../img/game/ameliorations/amour/1.png");}
    100% {background-image: url("../img/game/ameliorations/amour/amour.png");}
}

/**
* Connaissance
**/
.ameliorations item.connaissance span {
	background-image: url("../img/game/ameliorations/connaissance/connaissance.png");
}
.ameliorations item.connaissance.out span {
	animation-name: connaissance-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: connaissance-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: connaissance-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: connaissance-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.connaissance.in span {
	animation-name: connaissance-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: connaissance-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: connaissance-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: connaissance-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes connaissance-in {
    0% {background-image: url("../img/game/ameliorations/connaissance/connaissance.png");}
    25% {background-image: url("../img/game/ameliorations/connaissance/1.png");}
    50% {background-image: url("../img/game/ameliorations/connaissance/2.png");}
    75% {background-image: url("../img/game/ameliorations/connaissance/3.png");}
    100% {background-image: url("../img/game/ameliorations/connaissance/4.png");}
}
@keyframes connaissance-out {
    0% {background-image: url("../img/game/ameliorations/connaissance/4.png");}
    25% {background-image: url("../img/game/ameliorations/connaissance/3.png");}
    50% {background-image: url("../img/game/ameliorations/connaissance/2.png");}
    75% {background-image: url("../img/game/ameliorations/connaissance/1.png");}
    100% {background-image: url("../img/game/ameliorations/connaissance/connaissance.png");}
}

/**
* Evolution
**/
.ameliorations item.evolution span {
	background-image: url("../img/game/ameliorations/evolution/evolution.png");
}
.ameliorations item.evolution.out span {
	animation-name: evolution-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: evolution-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: evolution-out;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: evolution-out;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}
.ameliorations item.evolution.in span {
	animation-name: evolution-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    
    -webkit-animation-name: evolution-in;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;

	-moz-animation-name: evolution-in;
    -moz-animation-duration: 0.25s;
    -moz-animation-fill-mode: both;

	-o-animation-name: evolution-in;
    -o-animation-duration: 0.25s;
    -o-animation-fill-mode: both;
}

@keyframes evolution-in {
    0% {background-image: url("../img/game/ameliorations/evolution/evolution.png");}
    25% {background-image: url("../img/game/ameliorations/evolution/1.png");}
    50% {background-image: url("../img/game/ameliorations/evolution/2.png");}
    75% {background-image: url("../img/game/ameliorations/evolution/3.png");}
    100% {background-image: url("../img/game/ameliorations/evolution/4.png");}
}
@keyframes evolution-out {
    0% {background-image: url("../img/game/ameliorations/evolution/4.png");}
    25% {background-image: url("../img/game/ameliorations/evolution/3.png");}
    50% {background-image: url("../img/game/ameliorations/evolution/2.png");}
    75% {background-image: url("../img/game/ameliorations/evolution/1.png");}
    100% {background-image: url("../img/game/ameliorations/evolution/evolution.png");}
}