/**
* Popup
**/
.popup {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	
	top: 0;
	display: none;
}
.popup > .content {
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50vh;
	transform: translateY(-50%);
	
	background-image: url("../img/game/interface/popup.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
.popup > .content > .texte {
	font-size: 2.5vh;
	font-family: serif;
	text-align: center;
	width: 100%;
	color: #101010;
}

.popup .close-button {
    top: -4.5%;
    right: -2.5%;
}

mask {
	position: absolute;
	width: 100%; height: 100%;
	background-color: #060606;
	opacity: 0.5;
	left: 0; top: 0;
}

/**
* Textes in game
**/
.popupText {
	display: none;
	position: absolute;
	top : 4%;
    z-index: 2000;
    
    text-align: center;
    
    width: 100%;
    height: auto;
    max-height: 100%;
    
    pointer-events: none;
}
.popupText.text {
    color: ghostwhite;
}