
/**
* Game
**/
.game {
	background-color: black;
}
.scene {
	position: relative;
	width: 100%; height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.bandeauBas {
	display: none;
	z-index: 15;
	position: absolute;
	left: 0; bottom: 0;
	width: 100%; height: auto;
	color: #c6c6e6; font-size: 3vh;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/game/interface/ameliorations.png);
    margin-left: 2%; margin-bottom: 1%;
}

.goto {
	cursor: pointer;
	position: absolute;
    z-index: 10;
    bottom: 16%;
    
    width: 5%; height: 6%;

	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/game/interface/constellation/normal.png");
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
.goto:hover {
	background-image: url("../img/game/interface/constellation/hover.png");
	transform: scale(1.2);
}
.goto.right {
	right: 0%;
}
.goto.left {
	left: 0%;
}

.goto-aura {
	pointer-events: none;
	position: absolute;
    z-index: 10;
    bottom: 8.4%; right: -7.7%;
    height: 20%; width: 20%;
    
    animation-name: star-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

	-webkit-animation-name: star-anim;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

	-moz-animation-name: star-anim;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

	-o-animation-name: star-anim;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: forwards;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
}

.options .text {
	font-size: 3vh !important;
    text-align: center;
    color: beige;
}

.constellation, .space, .quete, .autel, .success, .options, .artefacts {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	
	transition: transform 1s ease-in-out;
}
.constellation, .quete, .autel, .success, .options, .artefacts {
	display: none;
}

.constellation {
	transform: scale(1) translate(0%, 0%);
}
.constellation.zoom[cible="space-star"] {
	transform: scale(2) translate(25%, 25%);
}
.constellation.zoom[cible="quete-star"] {
	transform: scale(2) translate(15%, 12%);
}
.constellation.zoom[cible="autel-star"] {
	transform: scale(2) translate(2%, 22%);
}
.constellation.zoom[cible="success-star"] {
	transform: scale(2) translate(-9%, 1%);
}
.constellation.zoom[cible="options-star"] {
	transform: scale(2) translate(-3%, -18%);
}
.constellation.zoom[cible="artefacts-star"] {
	transform: scale(2) translate(6%, -6%);
}