
/**
* Evenements
**/
.popupEvent .icon {
	width: 5%;
}

.popupEvent .content {
	padding-left: 3%;
	padding-right: 3%;
}

.scene .event-timer {
	display: none;
	cursor: pointer;
	position: absolute;
    z-index: 10;
    right: 1%; top: 16%;
    
    width: 4%; height: 6%;

	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/game/interface/event-timer/1.png");
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
.scene .event-timer:hover {
	transform: scale(1.2);
}
.scene .event-timer-new {
	display: none;
	position: absolute;
    z-index: 9;
    right: -1.75%; top: 12.5%;
    width: 10%; height: 13%;
	
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/game/interface/event-timer/new.png");
}

.scene .event-timer.start {
	animation-name: timer-action;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

	-webkit-animation-name: timer-action;
    -webkit-animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

	-moz-animation-name: timer-action;
    -moz-animation-duration: 7s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

	-o-animation-name: timer-action;
    -o-animation-duration: 7s;
    -o-animation-fill-mode: forwards;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
}

@keyframes timer-action {
    0% {background-image: url("../img/game/interface/event-timer/1.png");}
    25% {background-image: url("../img/game/interface/event-timer/2.png");}
    50% {background-image: url("../img/game/interface/event-timer/3.png");}
    75% {background-image: url("../img/game/interface/event-timer/4.png");}
    100% {background-image: url("../img/game/interface/event-timer/5.png");}
}

bonus {
	display: block;
	color: green;
}

bonus .info {
	text-decoration: none;
	border-bottom: dotted 1px green;
}