
/**
* Liste des artefacts
**/
artefactsList > artefact.torque .icon {
	background-image: url("../img/game/artefact/torque.png");
}
artefactsList > artefact.graal .icon {
	background-image: url("../img/game/artefact/graal.png");
}
artefactsList > artefact.corne-abondance .icon {
	background-image: url("../img/game/artefact/corne.png");
}