/**
* Autel
**/
autel {
	display: block;
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index : 2;
	
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/game/autel/fond.png");
}

autel > chasse {
	display: block;
	position: absolute;
	width: 10%; height: 10%;
	
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

autel > chasse:nth-child(1) {
	left : 43%;
	top : 11%;
}
autel > chasse:nth-child(2) {
	left : 22%;
	top : 22%;
}
autel > chasse:nth-child(3) {
	left : 64%;
	top : 22%;
}
autel > chasse:nth-child(4) {
	left : 24%;
	top : 49%;
}
autel > chasse:nth-child(5) {
	left : 61%;
	top : 51%;
}
autel > chasse:nth-child(6) {
	left : 42%;
	top : 28%;
}