/**
* Preload
**/
preload {
	position: absolute;
	display: block;
	left:0; right:0;
	width: 100%; height: 100%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

/**GOD**/
preload.god-dust[step="1"] {
	background-image: url("../img/game/god/dust/1.png");
}
preload.god-dust[step="2"] {
	background-image: url("../img/game/god/dust/2.png");
}
preload.god-dust[step="3"] {
	background-image: url("../img/game/god/dust/3.png");
}
preload.god-dust[step="4"] {
	background-image: url("../img/game/god/dust/4.png");
}
preload.god-dust[step="5"] {
	background-image: url("../img/game/god/dust/5.png");
}

preload.god-egg[step="1"] {
	background-image: url("../img/game/god/egg/1.png");
}
preload.god-egg[step="2"] {
	background-image: url("../img/game/god/egg/2.png");
}
preload.god-egg[step="3"] {
	background-image: url("../img/game/god/egg/3.png");
}

preload.god-baby[step="1"] {
	background-image: url("../img/game/god/baby/1.png");
}

preload.god-child[step="1"] {
	background-image: url("../img/game/god/child/1.png");
}
preload.god-child-cligne[step="1"] {
	background-image: url("../img/game/god/child/cligne/1.png");
}
preload.god-child-langue[step="1"] {
	background-image: url("../img/game/god/child/langue/1.png");
}
preload.god-child-langue[step="2"] {
	background-image: url("../img/game/god/child/langue/2.png");
}
preload.god-child-langue[step="3"] {
	background-image: url("../img/game/god/child/langue/3.png");
}
preload.god-child-langue[step="4"] {
	background-image: url("../img/game/god/child/langue/4.png");
}
preload.god-child-tourneTete[step="1"] {
	background-image: url("../img/game/god/child/tourneTete/1.png");
}
preload.god-child-tourneTete[step="2"] {
	background-image: url("../img/game/god/child/tourneTete/2.png");
}

preload.god-ado[step="1"] {
	background-image: url("../img/game/god/ado/1.png");
}

/**GODDESS**/
preload.goddess-imbolc[step="1"] {
	background-image: url("../img/game/goddess/imbolc/1.png");
}
preload.goddess-imbolc[step="2"] {
	background-image: url("../img/game/goddess/imbolc/2.png");
}
preload.goddess-imbolc[step="3"] {
	background-image: url("../img/game/goddess/imbolc/3.png");
}
preload.goddess-imbolc[step="4"] {
	background-image: url("../img/game/goddess/imbolc/4.png");
}
preload.goddess-imbolc[step="5"] {
	background-image: url("../img/game/goddess/imbolc/5.png");
}
preload.goddess-imbolc[step="6"] {
	background-image: url("../img/game/goddess/imbolc/6.png");
}
preload.goddess-imbolc[step="7"] {
	background-image: url("../img/game/goddess/imbolc/7.png");
}
preload.goddess-imbolc[step="8"] {
	background-image: url("../img/game/goddess/imbolc/8.png");
}
preload.goddess-imbolc[step="9"] {
	background-image: url("../img/game/goddess/imbolc/9.png");
}
preload.goddess-imbolc[step="10"] {
	background-image: url("../img/game/goddess/imbolc/10.png");
}

/**Dieu**/
preload.dieu[step="1"] {
	background-image: url("../img/game/ameliorations/dieu/dieu.png");
}
preload.dieu[step="2"] {
	background-image: url("../img/game/ameliorations/dieu/1.png");
}
preload.dieu[step="3"] {
	background-image: url("../img/game/ameliorations/dieu/2.png");
}
preload.dieu[step="4"] {
	background-image: url("../img/game/ameliorations/dieu/3.png");
}
preload.dieu[step="5"] {
	background-image: url("../img/game/ameliorations/dieu/4.png");
}

/**Deesse**/
preload.deesse[step="1"] {
	background-image: url("../img/game/ameliorations/deesse/deesse.png");
}
preload.deesse[step="2"] {
	background-image: url("../img/game/ameliorations/deesse/1.png");
}
preload.deesse[step="3"] {
	background-image: url("../img/game/ameliorations/deesse/2.png");
}
preload.deesse[step="4"] {
	background-image: url("../img/game/ameliorations/deesse/3.png");
}
preload.deesse[step="5"] {
	background-image: url("../img/game/ameliorations/deesse/4.png");
}

/**Grand Tout**/
preload.grandTout[step="1"] {
	background-image: url("../img/game/ameliorations/grandTout/grandTout.png");
}
preload.grandTout[step="2"] {
	background-image: url("../img/game/ameliorations/grandTout/1.png");
}
preload.grandTout[step="3"] {
	background-image: url("../img/game/ameliorations/grandTout/2.png");
}
preload.grandTout[step="4"] {
	background-image: url("../img/game/ameliorations/grandTout/3.png");
}
preload.grandTout[step="5"] {
	background-image: url("../img/game/ameliorations/grandTout/4.png");
}

/**Terre**/
preload.terre[step="1"] {
	background-image: url("../img/game/ameliorations/terre/terre.png");
}
preload.terre[step="2"] {
	background-image: url("../img/game/ameliorations/terre/1.png");
}
preload.terre[step="3"] {
	background-image: url("../img/game/ameliorations/terre/2.png");
}
preload.terre[step="4"] {
	background-image: url("../img/game/ameliorations/terre/3.png");
}
preload.terre[step="5"] {
	background-image: url("../img/game/ameliorations/terre/4.png");
}

/**Lune**/
preload.lune[step="1"] {
	background-image: url("../img/game/ameliorations/lune/lune.png");
}
preload.lune[step="2"] {
	background-image: url("../img/game/ameliorations/lune/1.png");
}
preload.lune[step="3"] {
	background-image: url("../img/game/ameliorations/lune/2.png");
}
preload.lune[step="4"] {
	background-image: url("../img/game/ameliorations/lune/3.png");
}
preload.lune[step="5"] {
	background-image: url("../img/game/ameliorations/lune/4.png");
}

/**Soleil**/
preload.soleil[step="1"] {
	background-image: url("../img/game/ameliorations/soleil/soleil.png");
}
preload.soleil[step="2"] {
	background-image: url("../img/game/ameliorations/soleil/1.png");
}
preload.soleil[step="3"] {
	background-image: url("../img/game/ameliorations/soleil/2.png");
}
preload.soleil[step="4"] {
	background-image: url("../img/game/ameliorations/soleil/3.png");
}
preload.soleil[step="5"] {
	background-image: url("../img/game/ameliorations/soleil/4.png");
}

/**Ciel**/
preload.ciel[step="1"] {
	background-image: url("../img/game/ameliorations/ciel/ciel.png");
}
preload.ciel[step="2"] {
	background-image: url("../img/game/ameliorations/ciel/1.png");
}
preload.ciel[step="3"] {
	background-image: url("../img/game/ameliorations/ciel/2.png");
}
preload.ciel[step="4"] {
	background-image: url("../img/game/ameliorations/ciel/3.png");
}
preload.ciel[step="5"] {
	background-image: url("../img/game/ameliorations/ciel/4.png");
}

/**Foret**/
preload.foret[step="1"] {
	background-image: url("../img/game/ameliorations/foret/foret.png");
}
preload.foret[step="2"] {
	background-image: url("../img/game/ameliorations/foret/1.png");
}
preload.foret[step="3"] {
	background-image: url("../img/game/ameliorations/foret/2.png");
}
preload.foret[step="4"] {
	background-image: url("../img/game/ameliorations/foret/3.png");
}
preload.foret[step="5"] {
	background-image: url("../img/game/ameliorations/foret/4.png");
}

/**Volcan**/
preload.volcan[step="1"] {
	background-image: url("../img/game/ameliorations/volcan/volcan.png");
}
preload.volcan[step="2"] {
	background-image: url("../img/game/ameliorations/volcan/1.png");
}
preload.volcan[step="3"] {
	background-image: url("../img/game/ameliorations/volcan/2.png");
}
preload.volcan[step="4"] {
	background-image: url("../img/game/ameliorations/volcan/3.png");
}
preload.volcan[step="5"] {
	background-image: url("../img/game/ameliorations/volcan/4.png");
}

/**Chaos**/
preload.chaos[step="1"] {
	background-image: url("../img/game/ameliorations/chaos/chaos.png");
}
preload.chaos[step="2"] {
	background-image: url("../img/game/ameliorations/chaos/1.png");
}
preload.chaos[step="3"] {
	background-image: url("../img/game/ameliorations/chaos/2.png");
}
preload.chaos[step="4"] {
	background-image: url("../img/game/ameliorations/chaos/3.png");
}
preload.chaos[step="5"] {
	background-image: url("../img/game/ameliorations/chaos/4.png");
}

/**Gouffre**/
preload.gouffre[step="1"] {
	background-image: url("../img/game/ameliorations/gouffre/gouffre.png");
}
preload.gouffre[step="2"] {
	background-image: url("../img/game/ameliorations/gouffre/1.png");
}
preload.gouffre[step="3"] {
	background-image: url("../img/game/ameliorations/gouffre/2.png");
}
preload.gouffre[step="4"] {
	background-image: url("../img/game/ameliorations/gouffre/3.png");
}
preload.gouffre[step="5"] {
	background-image: url("../img/game/ameliorations/gouffre/4.png");
}

/**Ocean**/
preload.ocean[step="1"] {
	background-image: url("../img/game/ameliorations/ocean/ocean.png");
}
preload.ocean[step="2"] {
	background-image: url("../img/game/ameliorations/ocean/1.png");
}
preload.ocean[step="3"] {
	background-image: url("../img/game/ameliorations/ocean/2.png");
}
preload.ocean[step="4"] {
	background-image: url("../img/game/ameliorations/ocean/3.png");
}
preload.ocean[step="5"] {
	background-image: url("../img/game/ameliorations/ocean/4.png");
}

/**Vide**/
preload.vide[step="2"] {
	background-image: url("../img/game/ameliorations/vide/1.png");
}
preload.vide[step="3"] {
	background-image: url("../img/game/ameliorations/vide/2.png");
}
preload.vide[step="4"] {
	background-image: url("../img/game/ameliorations/vide/3.png");
}
preload.vide[step="5"] {
	background-image: url("../img/game/ameliorations/vide/4.png");
}

/**Abysse**/
preload.abysse[step="1"] {
	background-image: url("../img/game/ameliorations/abysse/abysse.png");
}
preload.abysse[step="2"] {
	background-image: url("../img/game/ameliorations/abysse/1.png");
}
preload.abysse[step="3"] {
	background-image: url("../img/game/ameliorations/abysse/2.png");
}
preload.abysse[step="4"] {
	background-image: url("../img/game/ameliorations/abysse/3.png");
}
preload.abysse[step="5"] {
	background-image: url("../img/game/ameliorations/abysse/4.png");
}

/**Amour**/
preload.amour[step="1"] {
	background-image: url("../img/game/ameliorations/amour/amour.png");
}
preload.amour[step="2"] {
	background-image: url("../img/game/ameliorations/amour/1.png");
}
preload.amour[step="3"] {
	background-image: url("../img/game/ameliorations/amour/2.png");
}
preload.amour[step="4"] {
	background-image: url("../img/game/ameliorations/amour/3.png");
}
preload.amour[step="5"] {
	background-image: url("../img/game/ameliorations/amour/4.png");
}

/**Connaissance**/
preload.connaissance[step="1"] {
	background-image: url("../img/game/ameliorations/connaissance/connaissance.png");
}
preload.connaissance[step="2"] {
	background-image: url("../img/game/ameliorations/connaissance/1.png");
}
preload.connaissance[step="3"] {
	background-image: url("../img/game/ameliorations/connaissance/2.png");
}
preload.connaissance[step="4"] {
	background-image: url("../img/game/ameliorations/connaissance/3.png");
}
preload.connaissance[step="5"] {
	background-image: url("../img/game/ameliorations/connaissance/4.png");
}

/**Evolution**/
preload.evolution[step="1"] {
	background-image: url("../img/game/ameliorations/evolution/evolution.png");
}
preload.evolution[step="2"] {
	background-image: url("../img/game/ameliorations/evolution/1.png");
}
preload.evolution[step="3"] {
	background-image: url("../img/game/ameliorations/evolution/2.png");
}
preload.evolution[step="4"] {
	background-image: url("../img/game/ameliorations/evolution/3.png");
}
preload.evolution[step="5"] {
	background-image: url("../img/game/ameliorations/evolution/4.png");
}

/**
* Pierres
**/
/** Primaire **/
/**Diamant**/
preload.diamant[step="1"] {
	background-image: url("../img/game/autel/pierres/diamant/diamant.png");
}
preload.diamant[step="2"] {
	background-image: url("../img/game/autel/pierres/diamant/1.png");
}
preload.diamant[step="3"] {
	background-image: url("../img/game/autel/pierres/diamant/2.png");
}
preload.diamant[step="4"] {
	background-image: url("../img/game/autel/pierres/diamant/3.png");
}
preload.diamant[step="5"] {
	background-image: url("../img/game/autel/pierres/diamant/4.png");
}

/**Rubis**/
preload.rubis[step="1"] {
	background-image: url("../img/game/autel/pierres/rubis/rubis.png");
}
preload.rubis[step="2"] {
	background-image: url("../img/game/autel/pierres/rubis/1.png");
}
preload.rubis[step="3"] {
	background-image: url("../img/game/autel/pierres/rubis/2.png");
}
preload.rubis[step="4"] {
	background-image: url("../img/game/autel/pierres/rubis/3.png");
}
preload.rubis[step="5"] {
	background-image: url("../img/game/autel/pierres/rubis/4.png");
}

/**Emeraude**/
preload.emeraude[step="1"] {
	background-image: url("../img/game/autel/pierres/emeraude/emeraude.png");
}
preload.emeraude[step="2"] {
	background-image: url("../img/game/autel/pierres/emeraude/1.png");
}
preload.emeraude[step="3"] {
	background-image: url("../img/game/autel/pierres/emeraude/2.png");
}
preload.emeraude[step="4"] {
	background-image: url("../img/game/autel/pierres/emeraude/3.png");
}
preload.emeraude[step="5"] {
	background-image: url("../img/game/autel/pierres/emeraude/4.png");
}

/**Saphir**/
preload.saphir[step="1"] {
	background-image: url("../img/game/autel/pierres/saphir/saphir.png");
}
preload.saphir[step="2"] {
	background-image: url("../img/game/autel/pierres/saphir/1.png");
}
preload.saphir[step="3"] {
	background-image: url("../img/game/autel/pierres/saphir/2.png");
}
preload.saphir[step="4"] {
	background-image: url("../img/game/autel/pierres/saphir/3.png");
}
preload.saphir[step="5"] {
	background-image: url("../img/game/autel/pierres/saphir/4.png");
}

/** Larme d'apache **/
preload.larme-apache[step="1"] {
	background-image: url("../img/game/autel/pierres/larme-apache/larme-apache.png");
}
preload.larme-apache[step="2"] {
	background-image: url("../img/game/autel/pierres/larme-apache/1.png");
}
preload.larme-apache[step="3"] {
	background-image: url("../img/game/autel/pierres/larme-apache/2.png");
}
preload.larme-apache[step="4"] {
	background-image: url("../img/game/autel/pierres/larme-apache/3.png");
}
preload.larme-apache[step="5"] {
	background-image: url("../img/game/autel/pierres/larme-apache/4.png");
}

/** Cristal de roche **/
preload.cristal-de-roche[step="1"] {
	background-image: url("../img/game/autel/pierres/cristal-de-roche/cristal-de-roche.png");
}
preload.cristal-de-roche[step="2"] {
	background-image: url("../img/game/autel/pierres/cristal-de-roche/1.png");
}
preload.cristal-de-roche[step="3"] {
	background-image: url("../img/game/autel/pierres/cristal-de-roche/2.png");
}
preload.cristal-de-roche[step="4"] {
	background-image: url("../img/game/autel/pierres/cristal-de-roche/3.png");
}
preload.cristal-de-roche[step="5"] {
	background-image: url("../img/game/autel/pierres/cristal-de-roche/4.png");
}

/** Solaire **/
/** Grenat **/
preload.grenat[step="1"] {
	background-image: url("../img/game/autel/pierres/grenat/grenat.png");
}
preload.grenat[step="2"] {
	background-image: url("../img/game/autel/pierres/grenat/1.png");
}
preload.grenat[step="3"] {
	background-image: url("../img/game/autel/pierres/grenat/2.png");
}
preload.grenat[step="4"] {
	background-image: url("../img/game/autel/pierres/grenat/3.png");
}
preload.grenat[step="5"] {
	background-image: url("../img/game/autel/pierres/grenat/4.png");
}

/**Onyx**/
preload.onyx[step="1"] {
	background-image: url("../img/game/autel/pierres/onyx/onyx.png");
}
preload.onyx[step="2"] {
	background-image: url("../img/game/autel/pierres/onyx/1.png");
}
preload.onyx[step="3"] {
	background-image: url("../img/game/autel/pierres/onyx/2.png");
}
preload.onyx[step="4"] {
	background-image: url("../img/game/autel/pierres/onyx/3.png");
}
preload.onyx[step="5"] {
	background-image: url("../img/game/autel/pierres/onyx/4.png");
}

/** Ambre **/
preload.ambre[step="1"] {
	background-image: url("../img/game/autel/pierres/ambre/ambre.png");
}
preload.ambre[step="2"] {
	background-image: url("../img/game/autel/pierres/ambre/1.png");
}
preload.ambre[step="3"] {
	background-image: url("../img/game/autel/pierres/ambre/2.png");
}
preload.ambre[step="4"] {
	background-image: url("../img/game/autel/pierres/ambre/3.png");
}
preload.ambre[step="5"] {
	background-image: url("../img/game/autel/pierres/ambre/4.png");
}

/** Obsidienne **/
preload.obsidienne[step="1"] {
	background-image: url("../img/game/autel/pierres/obsidienne/obsidienne.png");
}
preload.obsidienne[step="2"] {
	background-image: url("../img/game/autel/pierres/obsidienne/1.png");
}
preload.obsidienne[step="3"] {
	background-image: url("../img/game/autel/pierres/obsidienne/2.png");
}
preload.obsidienne[step="4"] {
	background-image: url("../img/game/autel/pierres/obsidienne/3.png");
}
preload.obsidienne[step="5"] {
	background-image: url("../img/game/autel/pierres/obsidienne/4.png");
}

/** Hematite **/
preload.hematite[step="1"] {
	background-image: url("../img/game/autel/pierres/hematite/hematite.png");
}
preload.hematite[step="2"] {
	background-image: url("../img/game/autel/pierres/hematite/1.png");
}
preload.hematite[step="3"] {
	background-image: url("../img/game/autel/pierres/hematite/2.png");
}
preload.hematite[step="4"] {
	background-image: url("../img/game/autel/pierres/hematite/3.png");
}
preload.hematite[step="5"] {
	background-image: url("../img/game/autel/pierres/hematite/4.png");
}

/** Pierre de soleil **/
preload.pierre-de-soleil[step="1"] {
	background-image: url("../img/game/autel/pierres/pierre-de-soleil/pierre-de-soleil.png");
}
preload.pierre-de-soleil[step="2"] {
	background-image: url("../img/game/autel/pierres/pierre-de-soleil/1.png");
}
preload.pierre-de-soleil[step="3"] {
	background-image: url("../img/game/autel/pierres/pierre-de-soleil/2.png");
}
preload.pierre-de-soleil[step="4"] {
	background-image: url("../img/game/autel/pierres/pierre-de-soleil/3.png");
}
preload.pierre-de-soleil[step="5"] {
	background-image: url("../img/game/autel/pierres/pierre-de-soleil/4.png");
}

/**Lunaire**/
/** Malachite **/
preload.malachite[step="1"] {
	background-image: url("../img/game/autel/pierres/malachite/malachite.png");
}
preload.malachite[step="2"] {
	background-image: url("../img/game/autel/pierres/malachite/1.png");
}
preload.malachite[step="3"] {
	background-image: url("../img/game/autel/pierres/malachite/2.png");
}
preload.malachite[step="4"] {
	background-image: url("../img/game/autel/pierres/malachite/3.png");
}
preload.malachite[step="5"] {
	background-image: url("../img/game/autel/pierres/malachite/4.png");
}

/**Amethyste**/
preload.amethyste[step="1"] {
	background-image: url("../img/game/autel/pierres/amethyste/amethyste.png");
}
preload.amethyste[step="2"] {
	background-image: url("../img/game/autel/pierres/amethyste/1.png");
}
preload.amethyste[step="3"] {
	background-image: url("../img/game/autel/pierres/amethyste/2.png");
}
preload.amethyste[step="4"] {
	background-image: url("../img/game/autel/pierres/amethyste/3.png");
}
preload.amethyste[step="5"] {
	background-image: url("../img/game/autel/pierres/amethyste/4.png");
}

/** Lapis Lazuli **/
preload.lapis-lazuli[step="1"] {
	background-image: url("../img/game/autel/pierres/lapis-lazuli/lapis-lazuli.png");
}
preload.lapis-lazuli[step="2"] {
	background-image: url("../img/game/autel/pierres/lapis-lazuli/1.png");
}
preload.lapis-lazuli[step="3"] {
	background-image: url("../img/game/autel/pierres/lapis-lazuli/2.png");
}
preload.lapis-lazuli[step="4"] {
	background-image: url("../img/game/autel/pierres/lapis-lazuli/3.png");
}
preload.lapis-lazuli[step="5"] {
	background-image: url("../img/game/autel/pierres/lapis-lazuli/4.png");
}

/** Labradorite **/
preload.labradorite[step="1"] {
	background-image: url("../img/game/autel/pierres/labradorite/labradorite.png");
}
preload.labradorite[step="2"] {
	background-image: url("../img/game/autel/pierres/labradorite/1.png");
}
preload.labradorite[step="3"] {
	background-image: url("../img/game/autel/pierres/labradorite/2.png");
}
preload.labradorite[step="4"] {
	background-image: url("../img/game/autel/pierres/labradorite/3.png");
}
preload.labradorite[step="5"] {
	background-image: url("../img/game/autel/pierres/labradorite/4.png");
}

/** Azurite **/
preload.azurite[step="1"] {
	background-image: url("../img/game/autel/pierres/azurite/azurite.png");
}
preload.azurite[step="2"] {
	background-image: url("../img/game/autel/pierres/azurite/1.png");
}
preload.azurite[step="3"] {
	background-image: url("../img/game/autel/pierres/azurite/2.png");
}
preload.azurite[step="4"] {
	background-image: url("../img/game/autel/pierres/azurite/3.png");
}
preload.azurite[step="5"] {
	background-image: url("../img/game/autel/pierres/azurite/4.png");
}

/** Pierre de lune **/
preload.pierre-de-lune[step="1"] {
	background-image: url("../img/game/autel/pierres/pierre-de-lune/pierre-de-lune.png");
}
preload.pierre-de-lune[step="2"] {
	background-image: url("../img/game/autel/pierres/pierre-de-lune/1.png");
}
preload.pierre-de-lune[step="3"] {
	background-image: url("../img/game/autel/pierres/pierre-de-lune/2.png");
}
preload.pierre-de-lune[step="4"] {
	background-image: url("../img/game/autel/pierres/pierre-de-lune/3.png");
}
preload.pierre-de-lune[step="5"] {
	background-image: url("../img/game/autel/pierres/pierre-de-lune/4.png");
}

/**
* ---------------------------------
**/

/**Star**/
preload.star[step="1"] {
	background-image: url("../img/game/interface/star/1.png");
}
preload.star[step="2"] {
	background-image: url("../img/game/interface/star/2.png");
}
preload.star[step="3"] {
	background-image: url("../img/game/interface/star/3.png");
}
preload.star[step="4"] {
	background-image: url("../img/game/interface/star/4.png");
}

/**Quete**/
preload.quete-complete[step="1"] {
	background-image: url("../img/game/interface/quetes/active.png");
}
preload.quete-complete[step="2"] {
	background-image: url("../img/game/interface/quetes/1.png");
}
preload.quete-complete[step="3"] {
	background-image: url("../img/game/interface/quetes/2.png");
}
preload.quete-complete[step="4"] {
	background-image: url("../img/game/interface/quetes/3.png");
}
preload.quete-complete[step="5"] {
	background-image: url("../img/game/interface/quetes/4.png");
}

/**
* close
**/
preload.close-preload[step="0"] {background-image: url("../img/game/interface/croix/0.png");}
preload.close-preload[step="1"] {background-image: url("../img/game/interface/croix/1.png");}
preload.close-preload[step="2"] {background-image: url("../img/game/interface/croix/2.png");}
preload.close-preload[step="3"] {background-image: url("../img/game/interface/croix/3.png");}
preload.close-preload[step="4"] {background-image: url("../img/game/interface/croix/4.png");}
preload.close-preload[step="5"] {background-image: url("../img/game/interface/croix/5.png");}
preload.close-preload[step="6"] {background-image: url("../img/game/interface/croix/6.png");}
preload.close-preload[step="7"] {background-image: url("../img/game/interface/croix/7.png");}
preload.close-preload[step="8"] {background-image: url("../img/game/interface/croix/8.png");}
preload.close-preload[step="9"] {background-image: url("../img/game/interface/croix/9.png");}
preload.close-preload[step="10"] {background-image: url("../img/game/interface/croix/10.png");}
preload.close-preload[step="11"] {background-image: url("../img/game/interface/croix/11.png");}
preload.close-preload[step="12"] {background-image: url("../img/game/interface/croix/12.png");}
preload.close-preload[step="13"] {background-image: url("../img/game/interface/croix/13.png");}
preload.close-preload[step="14"] {background-image: url("../img/game/interface/croix/14.png");}
preload.close-preload[step="15"] {background-image: url("../img/game/interface/croix/15.png");}
preload.close-preload[step="16"] {background-image: url("../img/game/interface/croix/16.png");}
preload.close-preload[step="17"] {background-image: url("../img/game/interface/croix/17.png");}
preload.close-preload[step="18"] {background-image: url("../img/game/interface/croix/18.png");}
preload.close-preload[step="19"] {background-image: url("../img/game/interface/croix/19.png");}
preload.close-preload[step="20"] {background-image: url("../img/game/interface/croix/20.png");}
preload.close-preload[step="21"] {background-image: url("../img/game/interface/croix/21.png");}