/**
* Description
**/
.popup-game {
	padding: 1%;
	text-align: center;
	
	color: #c6c6e6;
	
	width: auto !important;
    height: auto !important;
    max-height: 100%;
    max-width: 90%;
}
.popup-game #description {
	margin-bottom: 2%;
}

.popup-game .titre {
	font-weight: bold;
	font-size: 3vh;
	color: #9379e0;
}
.popup-game .text {
	font-size: 2.5vh;
}
.popup-game .text.button {
	font-size: 2vh;
}
.popup-game .categorie {
	width: 20% !important;
	padding: 0% 2% 1% 2%;
	display: inline-block;
	vertical-align: middle;
}

.popup-game .button {
	cursor: pointer;
	width: 30%; height: 4%;
	margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../img/game/interface/bouton/on.png");
}

.popup-game .button span {
	display: block;
    margin-top: 4%;
}

.popup-game .button[disabled="disabled"] {
	cursor: not-allowed;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../img/game/interface/bouton/off.png");
}

#restrictions .categorie, #prix .categorie {
	color: #a00e0e;
}
#restrictions .categorie.ok, #prix .categorie.ok {
	color: #35d035;
}

.categorie .icon {
	display: inline-block;
    width: 10%; height: 2%;
    
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.categorie.croyance .icon {background-image: url("../img/game/interface/icones/croyance.png");}
.categorie.illumination .icon {background-image: url("../img/game/interface/icones/illumination.png");}
.categorie.bien .icon {background-image: url("../img/game/interface/icones/bien.png");}
.categorie.mal .icon {background-image: url("../img/game/interface/icones/mal.png");}

#restrictions .categorie .icon {background-image: url("../img/game/interface/icones/mal.png");}
#restrictions .categorie.ok .icon {background-image: url("../img/game/interface/icones/bien.png");}
