/**
* Preload
**/
preload {
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
/**Dieu**/
preload.dieu[step="1"] {
	background-image: url("../img/game/ameliorations/dieu/dieu.png");
}
preload.dieu[step="2"] {
	background-image: url("../img/game/ameliorations/dieu/1.png");
}
preload.dieu[step="3"] {
	background-image: url("../img/game/ameliorations/dieu/2.png");
}
preload.dieu[step="4"] {
	background-image: url("../img/game/ameliorations/dieu/3.png");
}
preload.dieu[step="5"] {
	background-image: url("../img/game/ameliorations/dieu/4.png");
}

/**Deesse**/
preload.deesse[step="1"] {
	background-image: url("../img/game/ameliorations/deesse/deesse.png");
}
preload.deesse[step="2"] {
	background-image: url("../img/game/ameliorations/deesse/1.png");
}
preload.deesse[step="3"] {
	background-image: url("../img/game/ameliorations/deesse/2.png");
}
preload.deesse[step="4"] {
	background-image: url("../img/game/ameliorations/deesse/3.png");
}
preload.deesse[step="5"] {
	background-image: url("../img/game/ameliorations/deesse/4.png");
}

/**Grand Tout**/
preload.grandTout[step="1"] {
	background-image: url("../img/game/ameliorations/grandTout/grandTout.png");
}
preload.grandTout[step="2"] {
	background-image: url("../img/game/ameliorations/grandTout/1.png");
}
preload.grandTout[step="3"] {
	background-image: url("../img/game/ameliorations/grandTout/2.png");
}
preload.grandTout[step="4"] {
	background-image: url("../img/game/ameliorations/grandTout/3.png");
}
preload.grandTout[step="5"] {
	background-image: url("../img/game/ameliorations/grandTout/4.png");
}

/**
* close
**/
preload.close-button[step="0"] {background-image: url("../img/game/interface/croix/0.png");}
preload.close-button[step="1"] {background-image: url("../img/game/interface/croix/1.png");}
preload.close-button[step="2"] {background-image: url("../img/game/interface/croix/2.png");}
preload.close-button[step="3"] {background-image: url("../img/game/interface/croix/3.png");}
preload.close-button[step="4"] {background-image: url("../img/game/interface/croix/4.png");}
preload.close-button[step="5"] {background-image: url("../img/game/interface/croix/5.png");}
preload.close-button[step="6"] {background-image: url("../img/game/interface/croix/6.png");}
preload.close-button[step="7"] {background-image: url("../img/game/interface/croix/7.png");}
preload.close-button[step="8"] {background-image: url("../img/game/interface/croix/8.png");}
preload.close-button[step="9"] {background-image: url("../img/game/interface/croix/9.png");}
preload.close-button[step="10"] {background-image: url("../img/game/interface/croix/10.png");}
preload.close-button[step="11"] {background-image: url("../img/game/interface/croix/11.png");}
preload.close-button[step="12"] {background-image: url("../img/game/interface/croix/12.png");}
preload.close-button[step="13"] {background-image: url("../img/game/interface/croix/13.png");}
preload.close-button[step="14"] {background-image: url("../img/game/interface/croix/14.png");}
preload.close-button[step="15"] {background-image: url("../img/game/interface/croix/15.png");}
preload.close-button[step="16"] {background-image: url("../img/game/interface/croix/16.png");}
preload.close-button[step="17"] {background-image: url("../img/game/interface/croix/17.png");}
preload.close-button[step="18"] {background-image: url("../img/game/interface/croix/18.png");}
preload.close-button[step="19"] {background-image: url("../img/game/interface/croix/19.png");}
preload.close-button[step="20"] {background-image: url("../img/game/interface/croix/20.png");}
preload.close-button[step="21"] {background-image: url("../img/game/interface/croix/21.png");}