/**
* Preload
**/
preload {
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
/**Dieu**/
preload.dieu[step="1"] {
	background-image: url("../img/game/ameliorations/dieu/dieu.png");
}
preload.dieu[step="2"] {
	background-image: url("../img/game/ameliorations/dieu/1.png");
}
preload.dieu[step="3"] {
	background-image: url("../img/game/ameliorations/dieu/2.png");
}
preload.dieu[step="4"] {
	background-image: url("../img/game/ameliorations/dieu/3.png");
}
preload.dieu[step="5"] {
	background-image: url("../img/game/ameliorations/dieu/4.png");
}

/**Deesse**/
preload.deesse[step="1"] {
	background-image: url("../img/game/ameliorations/deesse/deesse.png");
}
preload.deesse[step="2"] {
	background-image: url("../img/game/ameliorations/deesse/1.png");
}
preload.deesse[step="3"] {
	background-image: url("../img/game/ameliorations/deesse/2.png");
}
preload.deesse[step="4"] {
	background-image: url("../img/game/ameliorations/deesse/3.png");
}
preload.deesse[step="5"] {
	background-image: url("../img/game/ameliorations/deesse/4.png");
}

/**Grand Tout**/
preload.grandTout[step="1"] {
	background-image: url("../img/game/ameliorations/grandTout/grandTout.png");
}
preload.grandTout[step="2"] {
	background-image: url("../img/game/ameliorations/grandTout/1.png");
}
preload.grandTout[step="3"] {
	background-image: url("../img/game/ameliorations/grandTout/2.png");
}
preload.grandTout[step="4"] {
	background-image: url("../img/game/ameliorations/grandTout/3.png");
}
preload.grandTout[step="5"] {
	background-image: url("../img/game/ameliorations/grandTout/4.png");
}

/**Terre**/
preload.terre[step="1"] {
	background-image: url("../img/game/ameliorations/terre/terre.png");
}
preload.terre[step="2"] {
	background-image: url("../img/game/ameliorations/terre/1.png");
}
preload.terre[step="3"] {
	background-image: url("../img/game/ameliorations/terre/2.png");
}
preload.terre[step="4"] {
	background-image: url("../img/game/ameliorations/terre/3.png");
}
preload.terre[step="5"] {
	background-image: url("../img/game/ameliorations/terre/4.png");
}

/**Lune**/
preload.lune[step="1"] {
	background-image: url("../img/game/ameliorations/lune/lune.png");
}
preload.lune[step="2"] {
	background-image: url("../img/game/ameliorations/lune/1.png");
}
preload.lune[step="3"] {
	background-image: url("../img/game/ameliorations/lune/2.png");
}
preload.lune[step="4"] {
	background-image: url("../img/game/ameliorations/lune/3.png");
}
preload.lune[step="5"] {
	background-image: url("../img/game/ameliorations/lune/4.png");
}

/**Soleil**/
preload.soleil[step="1"] {
	background-image: url("../img/game/ameliorations/soleil/soleil.png");
}
preload.soleil[step="2"] {
	background-image: url("../img/game/ameliorations/soleil/1.png");
}
preload.soleil[step="3"] {
	background-image: url("../img/game/ameliorations/soleil/2.png");
}
preload.soleil[step="4"] {
	background-image: url("../img/game/ameliorations/soleil/3.png");
}
preload.soleil[step="5"] {
	background-image: url("../img/game/ameliorations/soleil/4.png");
}

/**Ciel**/
preload.ciel[step="1"] {
	background-image: url("../img/game/ameliorations/ciel/ciel.png");
}
preload.ciel[step="2"] {
	background-image: url("../img/game/ameliorations/ciel/1.png");
}
preload.ciel[step="3"] {
	background-image: url("../img/game/ameliorations/ciel/2.png");
}
preload.ciel[step="4"] {
	background-image: url("../img/game/ameliorations/ciel/3.png");
}
preload.ciel[step="5"] {
	background-image: url("../img/game/ameliorations/ciel/4.png");
}

/**Foret**/
preload.foret[step="1"] {
	background-image: url("../img/game/ameliorations/foret/foret.png");
}
preload.foret[step="2"] {
	background-image: url("../img/game/ameliorations/foret/1.png");
}
preload.foret[step="3"] {
	background-image: url("../img/game/ameliorations/foret/2.png");
}
preload.foret[step="4"] {
	background-image: url("../img/game/ameliorations/foret/3.png");
}
preload.foret[step="5"] {
	background-image: url("../img/game/ameliorations/foret/4.png");
}

/**Volcan**/
preload.volcan[step="1"] {
	background-image: url("../img/game/ameliorations/volcan/volcan.png");
}
preload.volcan[step="2"] {
	background-image: url("../img/game/ameliorations/volcan/1.png");
}
preload.volcan[step="3"] {
	background-image: url("../img/game/ameliorations/volcan/2.png");
}
preload.volcan[step="4"] {
	background-image: url("../img/game/ameliorations/volcan/3.png");
}
preload.volcan[step="5"] {
	background-image: url("../img/game/ameliorations/volcan/4.png");
}

/**
* close
**/
preload.close-preload[step="0"] {background-image: url("../img/game/interface/croix/0.png");}
preload.close-preload[step="1"] {background-image: url("../img/game/interface/croix/1.png");}
preload.close-preload[step="2"] {background-image: url("../img/game/interface/croix/2.png");}
preload.close-preload[step="3"] {background-image: url("../img/game/interface/croix/3.png");}
preload.close-preload[step="4"] {background-image: url("../img/game/interface/croix/4.png");}
preload.close-preload[step="5"] {background-image: url("../img/game/interface/croix/5.png");}
preload.close-preload[step="6"] {background-image: url("../img/game/interface/croix/6.png");}
preload.close-preload[step="7"] {background-image: url("../img/game/interface/croix/7.png");}
preload.close-preload[step="8"] {background-image: url("../img/game/interface/croix/8.png");}
preload.close-preload[step="9"] {background-image: url("../img/game/interface/croix/9.png");}
preload.close-preload[step="10"] {background-image: url("../img/game/interface/croix/10.png");}
preload.close-preload[step="11"] {background-image: url("../img/game/interface/croix/11.png");}
preload.close-preload[step="12"] {background-image: url("../img/game/interface/croix/12.png");}
preload.close-preload[step="13"] {background-image: url("../img/game/interface/croix/13.png");}
preload.close-preload[step="14"] {background-image: url("../img/game/interface/croix/14.png");}
preload.close-preload[step="15"] {background-image: url("../img/game/interface/croix/15.png");}
preload.close-preload[step="16"] {background-image: url("../img/game/interface/croix/16.png");}
preload.close-preload[step="17"] {background-image: url("../img/game/interface/croix/17.png");}
preload.close-preload[step="18"] {background-image: url("../img/game/interface/croix/18.png");}
preload.close-preload[step="19"] {background-image: url("../img/game/interface/croix/19.png");}
preload.close-preload[step="20"] {background-image: url("../img/game/interface/croix/20.png");}
preload.close-preload[step="21"] {background-image: url("../img/game/interface/croix/21.png");}