.ameliorations {
	z-index: 10;
	display: none;
	position: absolute;
	left: 0%; top: 80%;
	width: 100%; height: 20%;
}

.ameliorations onglets {
	display: inline-block;
	width: 100%; height: 20%;
}
.ameliorations onglet {
	position: relative;
	background-color: blue;
	cursor: pointer;
	font-size: 3vh;
	margin-right: 1%;
}
.ameliorations onglet.active {
	background-color: red;
}
.ameliorations content {
	display: block;
	width: 100%; height: 80%;
	background-color: red;
}

.ameliorations item {
	cursor: pointer;
	display: inline-block;
	width: 12%; height: 85%;
	margin-left: 1%; margin-top: 1%;
	
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1A1A1A;
    
    border: 1px solid;
    
    transition: all 300ms;
}

.ameliorations item[level="0"]:not(.error) {
	filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.ameliorations item.error {
	animation-name: item-error;
    animation-duration: 1s;
}

@keyframes item-error {
    0% {background-color: #1A1A1A;}
    50% {background-color: #b90f0b;}
    100% {background-color: #1A1A1A;}
}

/**
* Description
**/
#ameliorations .description {
	display: none;
	position: absolute;
	z-index: 1000;
	left: 0; top: 0;
	width: auto;
	background-color: gray;
	border: 2px solid black;
	
	padding: 1%;
}
#ameliorations .description .titre {
	font-weight: bold;
	font-size: 1em;
}
#ameliorations .description .text {
	font-size: 0.8em;
}
#ameliorations .description .underline {
	text-decoration: underline;
}
#ameliorations .description .escap {
	margin-left: 3%;
}
