
/**
* God
**/
god {
	position: absolute;
	left: 0%;top: 0%;
	width: 100%;height: 100%;

	z-index: 2;
	cursor: pointer;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

god:not(.baby) {
	animation-name: turn;
    animation-duration: 100s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    -webkit-animation-name: turn;
    -webkit-animation-duration: 100s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
	-moz-animation-name: turn;
    -moz-animation-duration: 100s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

	-o-animation-name: turn;
    -o-animation-duration: 100s;
    -o-animation-fill-mode: forwards;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
}

@keyframes turn {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/**
* Sous forme de poussiere
**/
god.dust[level="1"] {
	background-image: url("../img/game/god/dust/1.png");
}
god.dust[level="2"] {
	background-image: url("../img/game/god/dust/2.png");
}
god.dust[level="3"] {
	background-image: url("../img/game/god/dust/3.png");
}
god.dust[level="4"] {
	background-image: url("../img/game/god/dust/4.png");
}
god.dust[level="5"] {
	background-image: url("../img/game/god/dust/5.png");
}

/**
* Forme d'oeuf
**/
god.egg[level="1"] {
	background-image: url("../img/game/god/egg/1.png");
}
god.egg[level="2"] {
	background-image: url("../img/game/god/egg/2.png");
}
god.egg[level="3"] {
	background-image: url("../img/game/god/egg/3.png");
}

/**
* Forme Bebe
**/
god.baby[level="1"] {
    background-image: url("../img/game/god/baby/1.png");
}