.ameliorations item.planete {
	background-image: url("../img/game/god/dust/1.png");
}
.ameliorations item.test {
	background-image: url("../img/game/god/egg/1.png");
}
.ameliorations item.test2 {
	background-image: url("../img/game/god/baby/1.png");
}