<div>
    <space class="back"></space>
    <div id="avantages" class="points">
    	<bien title="<%=data.text.get('bien')%>">
            <div class="img"></div><div class="text"></div>
        </bien>
        <mal title="<%=data.text.get('mal')%>">
            <div class="text"></div><div class="img"></div>
        </mal>
        <croyance title="<%=data.text.get('croyance')%>">
            <div class="img"></div><div class="text"></div>
        </croyance>
        <illumination title="<%=data.text.get('illumination')%>">
            <div class="text"></div><div class="img"></div>
        </illumination>
    </div>
    <autel>
    	<chasse id="haut"></chasse>
    	<chasse id="gauche"></chasse>
    	<chasse id="droite"></chasse>
    	<chasse id="bas-gauche"></chasse>
    	<chasse id="bas-droite"></chasse>
    	<chasse id="centre"></chasse>
    </autel>
    <div id="pierres"></div>
    <space class="front" type="1"></space>
    
    <div id="goto-constellation" class="goto right"></div>
</div>