<div class="ameliorations">
	<onglets>
	</onglets>
	<content>
	</content>
</div>

<div class="description">
    <div id="current">
        <p class="titre"><span id="nom"></span> (Level <span id="level"></span>)</p>
	    <p id="croyance" class="text escap">
	       Croyance : <span id="croyance-click"><span></span>/clicks</span>
	       <span id="croyance-loop"><span></span>/secondes</span>
	    </p>
	    <p id="illumination" class="text escap">
           Illumination : <span id="illumination-click"><span></span>/clicks</span>
           <span id="illumination-loop"><span></span>/secondes</span>
        </p>
	    <p id="bien" class="text escap">
           Bien : <span id="bien-click"><span></span>/clicks</span>
           <span id="bien-loop"><span></span>/secondes</span>
        </p>
	    <p id="mal" class="text escap">
           Mal : <span id="mal-click"><span></span>/clicks</span>
           <span id="mal-loop"><span></span>/secondes</span>
        </p>
    </div>
    <div id="next">
	    <p class="text underline">Passer au level : <span id="level-suivant"></span></p>
	    <p id="croyance-prix" class="text escap">Croyance : <span></span></p>
	    <p id="illumination-prix" class="text escap">Illumination : <span></span></p>
	    
	    <p class="text underline">Vous gagnerez : </p>
	    <p id="croyance" class="text escap">
           Croyance : <span id="croyance-click"><span></span>/clicks</span>
           <span id="croyance-loop"><span></span>/secondes</span>
        </p>
	    <p id="illumination" class="text escap">
           Illumination : <span id="illumination-click"><span></span>/clicks</span>
           <span id="illumination-loop"><span></span>/secondes</span>
        </p>
        <p id="bien" class="text escap">
           Bien : <span id="bien-click"><span></span>/clicks</span>
           <span id="bien-loop"><span></span>/secondes</span>
        </p>
        <p id="mal" class="text escap">
           Mal : <span id="mal-click"><span></span>/clicks</span>
           <span id="mal-loop"><span></span>/secondes</span>
        </p>
    </div>
</div>