<div class="ameliorations">
	<onglets>
	</onglets>
	<content>
	</content>
</div>

<div class="description">
    <div id="current">
        <p class="titre"><span id="nom"></span> (Level <span id="level"></span>)</p>
	    <p id="croyance-click" class="text escap">Croyance : <span></span>/clicks</p>
	    <p id="croyance-loop" class="text escap">Croyance : <span></span>/secondes</p>
	    <p id="illumination-click" class="text escap">Illumination : <span></span>/clicks</p>
	    <p id="illumination-loop" class="text escap">Illumination : <span></span>/secondes</p>
    </div>
    <div id="next">
	    <p class="text underline">Passer au level : <span id="level-suivant"></span></p>
	    <p id="croyance-prix" class="text escap">Croyance : <span></span></p>
	    <p id="illumination-prix" class="text escap">Illumination : <span></span></p>
	    
	    <p class="text underline">Vous gagnerez : </p>
	    <p id="croyance-click" class="text escap">Croyance : <span></span>/clicks</p>
	    <p id="croyance-loop" class="text escap">Croyance : <span></span>/secondes</p>
	    <p id="illumination-click" class="text escap">Illumination : <span></span>/clicks</p>
	    <p id="illumination-loop" class="text escap">Illumination : <span></span>/secondes</p>
    </div>
</div>