<div class="game page">
    <div class="scene">
        <div id="points" class="points">
            <croyance>
                <div class="img"></div><div class="text"></div>
            </croyance>
            <illumination>
                <div class="text"></div><div class="img"></div>
            </illumination>
            <bien>
                <div class="img"></div><div class="text"></div>
            </bien>
            <mal>
                <div class="text"></div><div class="img"></div>
            </mal>
            <vie>
                <div class="img"></div><div class="text"></div>
            </vie>
            <mort>
                <div class="text"></div><div class="img"></div>
            </mort>
        </div>
        <div id="popupText" class="popupText text"></div>
        
        <space class="back"></space>
        <god></god>
        <space class="front" type="1"></space>
        
        <div id="ameliorations"></div>
        
        <div id="popupEvent"></div>
    </div>
</div>