<div class="game page">
    <div class="scene">
        <div id="points" class="points">
            <croyance>
                <div class="text"></div><div class="img"></div>
            </croyance>
            <illumination>
                <div class="text"></div><div class="img"></div>
            </illumination>
        </div>
        <div id="popupText" class="popupText text"></div>
        
        <div class="camera">
            <space class="back">
                <god></god>
            </space>
        </div>
        <space class="front" type="1"></space>
        
        <div id="popupEvent"></div>
    </div>
</div>