<div class="game page">
    <div class="scene">
    	<div class="space constellation-star"></div>
    	<div class="quete constellation-star"></div>
    	<div class="autel constellation-star"></div>
    	<div class="constellation zoom" cible="space-star"></div>
    	
    	<div id="didactitiel">
	    	<div class="step block block-ameliorations"></div>
	    	<div class="step block block-constellations"></div>
	    	<div class="step block block-autel"></div>
	    	<div class="step fleche-barre fleche fleche-barre-gauche"></div>
	    	<div class="step fleche-barre fleche fleche-barre-droite flipH"></div>
	    	<div class="step fleche-constellations fleche"></div>
	    </div>
	    <div id="popups"></div>
    </div>
</div>