<div>
    <space class="back"></space>
    <space class="front" type="1"></space>
    
    <div class="texte text-center v-center row">
		<div class="col-md-12" id="language">
			<div class="flag-container col-md-12">
				<div class="flag fr"></div>
				<div class="flag en"></div>
			</div>
		</div>
		<div class="col-md-12">
			<ul class="col-md-12 popup-menu">
   				<li class="text" id="fullscreen"><%= data.text.get("fullscreen")%></li>
   				<li class="text" id="notation"></li>
   			</ul>
		</div>
	</div>
    
    <div id="goto-constellation" class="goto right"></div>
</div>