<div>
	<mask></mask>
	<div class="quete-detail content">
		<button type="button" class="close" aria-label="Close"></button>
	    <div id="description">
	        <p class="titre"></p>
	    </div>
	    <div id="details">
		    <div id="restrictions" class="text">
		    	<div>Vous devez avoir :</div>
		    	<div id="list"></div>
		    </div>
		    
		    <p class="titre underline">Vous gagnerez : </p>
		    <div id="croyance" class="categorie text croyance">
	           <div>
	           		<span class="icon"></span>
	           		<span>Croyance</span>
	           </div>
	           <div id="croyance-gain"></div>
	        </div>
		    <div id="illumination" class="categorie text illumination">
	           <div>
	           		<span class="icon"></span>
	           		<span>Illumination</span>
	           </div>
	           <div id="illumination-gain"></div>
	        </div>
	        <div id="bien" class="categorie text bien">
	           <div>
	           		<span class="icon"></span>
	           		<span>Bien</span>
	           </div>
	           <div id="bien-gain"></div>
	        </div>
	        <div id="mal" class="categorie text mal">
	           <div>
	           		<span class="icon"></span>
	           		<span>Mal</span>
	           </div>
	           <div id="mal-gain"></div>
	        </div>
	    </div>
	    <div>
	    	<div class="categorie text button">
	    		<span>Collecter</span>
	    	</div>
	    </div>
	</div>
</div>
