<div class="ameliorations">
	<onglets></onglets>
	<content></content>
</div>

<div id="description" class="popup">
	<mask></mask>
	<div class="description content popup-game">
		<div class="close-button" aria-label="Close"></div>
	    <div id="current">
	        <p class="titre"><span id="nom"></span> (Level <span id="level"></span>)</p>
		    <div id="croyance" class="text categorie croyance">
		       <div>
		       		<span class="icon"></span>
		       		<span>Croyance</span>
		       </div>
		       <div id="croyance-loop"><span></span>/secondes</div>
		    </div>
		    <div id="illumination" class="text categorie illumination">
	           <div>
	           		<span class="icon"></span>
	           		<span>Illumination</span>
	           </div>
	           <div id="illumination-loop"><span></span>/secondes</div>
	        </div>
		    <div id="bien" class="text categorie bien">
	           <div>
	           		<span class="icon"></span>
	           		<span>Bien</span>
	           </div>
	           <div id="bien-loop"><span></span>/secondes</div>
	        </div>
		    <div id="mal" class="text categorie mal">
	           <div>
	           		<span class="icon"></span>
	           		<span>Mal</span>
	           </div>
	           <div id="mal-loop"><span></span>/secondes</div>
	        </div>
	    </div>
	    <div id="next">
		    <p class="titre underline">Passer au level : <span id="level"></span></p>
		    <div id="restrictions" class="text">
		    	<div>Vous devez avoir :</div>
		    	<div id="list"></div>
		    </div>
		    <div id="prix">
			    <div id="croyance-prix" class="categorie text croyance">
			    	<div>
		           		<span class="icon"></span>
		           		<span>Croyance</span>
		           </div>
			    	<span></span>
			    </div>
			    <div id="illumination-prix" class="categorie text illumination">
			    	<div>
		           		<span class="icon"></span>
		           		<span>Illumination</span>
		           	</div>
			    	<span></span>
			    </div>
		    </div>
		    
		    <p class="titre underline">Vous gagnerez : </p>
		    <div id="croyance" class="categorie text croyance">
	           <div>
	           		<span class="icon"></span>
	           		<span>Croyance</span>
	           </div>
	           <div id="croyance-loop"><span></span>/secondes</div>
	        </div>
		    <div id="illumination" class="categorie text illumination">
	           <div>
	           		<span class="icon"></span>
	           		<span>Illumination</span>
	           </div>
	           <div id="illumination-loop"><span></span>/secondes</div>
	        </div>
	        <div id="bien" class="categorie text bien">
	           <div>
	           		<span class="icon"></span>
	           		<span>Bien</span>
	           </div>
	           <div id="bien-loop"><span></span>/secondes</div>
	        </div>
	        <div id="mal" class="categorie text mal">
	           <div>
	           		<span class="icon"></span>
	           		<span>Mal</span>
	           </div>
	           <div id="mal-loop"><span></span>/secondes</div>
	        </div>
	    </div>
	    <div>
	    	<div incr="1" class="nextLevel categorie text button">
	    		<span>+1</span>
	    	</div>
	    	<div incr="10" class="nextLevel categorie text button">
	    		<span>+10</span>
	    	</div>
	    	<div id="max" incr="100" class="nextLevel categorie text button">
	    		<span>Max</span>
	    	</div>
	    </div>
	</div>
</div>