<div class="popup popupEvent">
    <mask></mask>
    <div class="content">
        <div class="titre"><%= data.text.get(data.event.text + "-titre") %></div>
        <div class="texte"><%= data.text.get(data.event.text) %></div>
        <ul class="choix texte popup-menu">
            <%
                var actions = data.event.actions;
                for (var actionIndex in actions) {
                var action = actions[actionIndex];
                if (!data.me.checkActionAffichable(action)) continue;
            %>
                <li index="<%=actionIndex%>">
                	<% 
                		if (action.conditions) { 
                		var condition = action.conditions[0];
                	%>
                		<bonus><%=data.text.get("use")%> <%=data.text.get(condition.name)%>-<%=data.text.get(action.name)%></bonus>
                	<% } else { %>
                		<%=data.text.get(action.name)%>
                	<% } %>
                </li>
            <%
                }
            %>
        </ul>
    </div>
</div>