<div>
    <div id="points" class="points">
        <bien title="<%=data.text.get('bien')%>">
            <div class="img"></div><div class="text"></div><div class="icon"></div>
        </bien>
        <jauge title="<%=data.text.get('equilibre')%>">
        	<yang></yang>
        	<yinyang></yinyang>
        	<yin></yin>
        	</jauge>
        <mal title="<%=data.text.get('mal')%>">
            <div class="icon"></div><div class="text"></div><div class="img"></div>
        </mal>
        <croyance title="<%=data.text.get('croyance')%>">
            <div class="img"></div><div class="text"></div><div class="icon"></div>
        </croyance>
        <illumination title="<%=data.text.get('illumination')%>">
            <div class="icon"></div><div class="text"></div><div class="img"></div>
        </illumination>
    </div>
    
    <div id="popupText" class="popupText">
    	<div class="text"></div>
    	<div class="next"><%=data.text.get('suivant')%></div>
    </div>
    
    <space class="back"></space>
    <space class="front" type="1"></space>

    <goddess></goddess>
    <div id="godContainer">
    	<god></god>
    </div>
    
    <div id="ameliorations"></div>
    
    <etoile class="goto-aura"></etoile>
    <div id="goto-constellation" class="goto right">
    </div>
    
    <div id="event-timer" class="event-timer"></div>
    <div class="event-timer-new"></div>
    <div id="popupEvent"></div>
</div>
