<div class="content popup-game">
	<div class="close-button" aria-label="Close"></div>
	<ul class="texte popup-menu">
		<li id="avn"><%=data.text.get("illustration")%> : Alicia Nesztler</li>
		<li><%=data.text.get("developpement")%> : Steven Nesztler</li>
		<li id="soundcloud"><%=data.text.get("musique")%> : Alicia Nesztler</li>
		<li id="aeferrets"><%=data.text.get("textes")%> : Steven Nesztler</li>
    </ul>
    <div class="popup-menu reseaux">
        <div class="reseau facebook" title="Facebook"></div>
        <div class="reseau twitter" title="Twitter"></div>
        <div class="reseau wordpress" title="Wordpress"></div>
        <div class="reseau instagram" title="Instagram"></div><br/>
        <div class="texte"><%=data.text.get('kongregate')%></div>
        <div class="reseau kongregate" title="Kongregate"></div>
    </div>
    <div class="texte"><%=data.text.get("copyright-licence")%></div>
</div>